<div class="container">
	<div class="row">
			<h1>レッスン編集</h1>
			<%= form_for [:teachers,@lesson] do |f| %>
				<% if @lesson.errors.any? %>
					<h4 class="message-error"><%= @lesson.errors.count %> 件のエラーのため内容は保存できません。</h4>
						<ul>
							<% @lesson.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
				<div class="col-xs-3">
					<h3>画像</h3>
						<%= attachment_image_tag @lesson, :image, :fill, 200, 200, format: 'jpeg' %>
					<%= f.attachment_field :image %>
				</div>
				<div class="col-xs-9">
					<h3>クラス</h3>
					<%= f.collection_select :area_class_id, AreaClass.all, :id, :name, :include_blank => "選択して下さい" %>
					<h3>ジャンル</h3>
					<%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => "選択して下さい" %>
					<h3>時間帯</h3>
					<%= f.collection_select :time_class_id, TimeClass.all, :id, :time_zone, :include_blank => "選択して下さい" %>
					<h3>担当者</h3>
					<%= f.collection_select :teacher_id, Teacher.all, :id, :last_name, :include_blank => "選択して下さい" %>
					<%= f.submit '編集を保存する', class: "btn btn-primary" %>
				</div>
			<% end %>
	</div>
</div>