<div class="container">
	<h3>レッスン一覧</h3>
	<%= link_to "レッスン登録", new_teachers_lesson_path %>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>クラス名</th>
				<th>ジャンル</th>
				<th>担当</th>
			</thead>
			<tbody>
				<% @lessons.each do |lesson| %>
					<tr>
						<td><%= lesson.area_class.name %></td>
						<td><%= lesson.genre.name %></td>
						<td><%= lesson.teacher.last_name %></td>
						<td><%= link_to "編集する", edit_teachers_lesson_path(lesson.id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>