<div class="container">
	<div class="row">
			<h3>レッスン新規登録</h3>
			<%= form_for [:teachers,@lesson] do |f| %>
				<% if @lesson.errors.any? %>
					<h4 class="message-error"><%= @lesson.errors.count %> 件のエラーのため内容は保存できません。</h4>
						<ul>
							<% @lesson.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
				<div class="col-xs-3">
					<h4>画像</h4>
					<%= f.attachment_field :image %>
				</div>
				<div class="col-xs-9">
					<h4>クラス</h4>
					<%= f.collection_select :area_class_id, AreaClass.all, :id, :name, :include_blank => "選択して下さい" %>
					<h4>ジャンル</h4>
					<%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => "選択して下さい" %>
					<h4>時間帯</h4>
					<%= f.collection_select :time_class_id, TimeClass.all, :id, :time_zone, :include_blank => "選択して下さい" %>
					<h4>担当者</h4>
					<p><%= f.collection_select :teacher_id, Teacher.all, :id, :last_name, :include_blank => "選択して下さい" %></p>
					<%= f.submit '新規登録', class: "btn btn-primary" %>
					<%= link_to "戻る", teachers_lessons_path, class: "btn btn-primary" %>

				</div>
			<% end %>
	</div>
</div>
