<div class="container">
	<h3>休講情報入力画面</h3>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>クラス名</th>
				<th>ジャンル</th>
				<th>時間帯</th>
				<th>担当</th>
				<th>日付</th>
			</thead>
			<tbody>
					<tr>
						<td><%= attachment_image_tag @lesson, :image, format: 'jpeg', size: "100x100" %></td>
						<td><%= @lesson.area_class&.name %></td>
						<td><%= @lesson.genre&.name %></td>
						<td><%= @lesson.time_class&.time_zone %></td>
						<td><%= @lesson.teacher&.last_name %></td>
					</tr>
			</tbody>
		</table>
		<%= form_for @no_lesson, url: teachers_no_lessons_path do |f| %>
			<%= f.hidden_field :lesson_id, value: @lesson.id %>
			<p><%= f.date_select :no_lesson_date, :use_month_numbers => true %></p>
		    <%= f.submit "休講登録", class: "btn btn-primary"  %>
		    <%= link_to "戻る", teachers_lessons_path, class: "btn btn-primary" %>
    	<% end %>
	</div>
</div>