<div class="container">
	<div class="row">
		<h1>時間帯編集</h1>
			<%= form_for [:teachers,@time_class] do |f| %>
				<% if @time_class.errors.any? %>
					<h4 class="message-error"><%= @time_class.errors.count %>件のエラーのため内容は保存できません。</h4>
						<ul>
							<% @time_class.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
				<%= f.label :クラス %>
				<%= f.text_field :time_zone %>
				<%= f.submit '変更を保存する', class: "btn btn-primary"%>
			<% end %>
	</div>
</div>