<div class="container">
	<div class="row">
		<h1>レッスン時間一覧・追加</h1>
			<%= form_for [:teachers,@time_class] do |f| %>
				<% if @time_class.errors.any? %>
					<h4 class="message-error"><%= @time_class.errors.count %> 件のエラーのため内容は保存できません。</h4>
						<ul>
							<% @time_class.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
				<%= f.label :時間帯 %>
				<%= f.text_field :time_zone %>
				<%= f.submit '追加', class: "btn btn-primary"%>
			<% end %>
		<table class="table table-striped">
			<thead>
				<th>クラス</th>
			</thead>
			<tbody>
				<% @time_classes.each do |tclass| %>
					<tr>
						<td><%= tclass.time_zone %></td>
						<td><%= link_to "編集", edit_teachers_time_class_path(tclass.id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

