<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h2>マイページ編集</h2>
			<%= form_for @student do |f| %>
				<% if @student.errors.any? %>
					<h3 class="message-error"><%= @student.errors.count %> errors prohibited this lesson from being saved:</h3>
						<ul>
							<% @student.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
					<table class="table">
						<tr>
							<th>姓</th>
							<td><%= f.text_field :last_name %></td>
						</tr>
						<tr>
							<th>名</th>
							<td><%= f.text_field :first_name %></td>
						</tr>
						<tr>
							<th>セイ</th>
							<td><%= f.text_field :sub_last_name %></td>
						</tr>
						<tr>
							<th>メイ</th>
							<td><%= f.text_field :sub_first_name %></td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><%= f.text_field :email %></td>
						</tr>
					</table>
					<%= f.submit '変更を保存する', class: "btn btn-success" %>
			<% end %>
			<br>
			<%= link_to "戻る", student_path(current_student),class: "btn btn-primary" %>
		</div>
	</div>
</div>