<div class="container">
    <div class="row">
		<h3>出席承認画面</h3>
		<%= form_for [:teachers, @attendee] do |f| %>
			<table class="table">
				<tr>
					<th>出席日</th>
					<td><%= @attendee&.attendance_date %></td>
				</tr>
				<tr>
					<th>レッスン</th>
					<td><%= @attendee.lesson.area_class&.name %></td>
				</tr>
				<tr>
					<th>出席者名</th>
					<td><%= @attendee.student&.last_name %><%= @attendee.student&.first_name %></td>
				</tr>
				<tr>
					<th>現在のコース</th>
					<td><%= @attendee.student.course&.name %></td>
				</tr>
				<tr>
					<th>出席数</th>
					<td><%= @attendee.student.attendees.where(attendance_status:'承認').count %></td>
				</tr>
			</table>

			<p class="h4"><%= f.radio_button :attendance_status, :未承認 %>未承認
			<%= f.radio_button :attendance_status, :承認 %>承認</p>
		    <%= f.submit "登録", class: "btn btn-primary"  %>
		    <%= link_to "戻る", teachers_attendees_path, class: "btn btn-primary" %>
    	<% end %>