<div class="container">
	<h3>出席者一覧</h3>
	<% if flash[:success] %>
  		<p class="alert alert-success" role="alert"><%= flash[:success] %></p>
	<% end %>
		<%= form_tag(teachers_attendees_path,:method => 'get') do %>
	  		<%= text_field_tag :search, "",placeholder:"出席日検索" %>
			<%= submit_tag '検索', :attendance_date => nil %>
		<% end %>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>出席日</th>
				<th>レッスン</th>
				<th>出席者名</th>
				<th>選択コース</th>
				<th>今月の出席回数</th>
				<th>先月の出席回数</th>
				<th>出席ステータス</th>
			</thead>
			<tbody>
				<% @attendees.each do |attende| %>
					<tr>
							<td><%= attende&.attendance_date %></td>
							<td><%= attende.lesson.area_class&.name %></td>
							<td><%=link_to attende.student&.last_name + attende.student&.first_name, edit_teachers_attendee_path(attende.id) %></td>
							<td><%= attende.student.course&.name %></td>
							<td><%= attende.student.attendees.where(attendance_date: Time.now.beginning_of_month..Time.now.end_of_month, attendance_status:'承認').count %></td>
							<td><%= attende.student.attendees.where(attendance_date: Time.now.prev_month.beginning_of_month..Time.now.prev_month.end_of_month, attendance_status:'承認').count %></td>
							<td><%= attende.attendance_status %></td>
						
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
