<div class="container">
	<h3>出席者一覧</h3>
	<% if flash[:success] %>
  		<p class="alert alert-success" role="alert"><%= flash[:success] %></p>
	<% end %>
		<%= form_tag(teachers_attendees_path,:method => 'get') do %>
	  		<%= text_field_tag :search, "",placeholder:"出席日検索" %>
			<%= submit_tag '検索', :attendance_date => nil %>
		<% end %>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>出席日</th>
				<th>レッスン</th>
				<th>出席者名</th>
				<th>選択コース</th>
				<th>先月の出席回数</th>
				<th>今月の出席回数</th>
				<th>出席ステータス</th>
			</thead>
			<tbody>
			<tr class="book_<%= @attendee %>">
				<%= render '/teachers/attendees/attendee', attendee: @attendees %>
			</tr>
			</tbody>
		</table>
	</div>
</div>
