<div class="container">
	<h1>出席履歴一覧</h1>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>出席日</th>
				<th>出席者名</th>
				<th>選択コース</th>
				<th>出席回数</th>
			</thead>
			<tbody>
				<% @attendees.each do |attende| %>
						<tr>
							<td><%= attende&.attendance_date %></td>
							<td><%= attende.student&.last_name %><%= attende.student&.first_name %></td>
							<td><%= attende.student.course&.name %></td>
							<td><%= attende.student.attendees.count %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
