<div class="container">
	<h1>本日の出席登録者一覧</h1>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>出席日</th>
				<th>出席者名</th>
				<th>選択コース</th>
				<th>出席回数</th>
				<th>出席ステータス</th>
			</thead>
			<tbody>
				<% @attendees.each do |attende| %>
						<tr>
							<td><%= attende&.attendance_date %></td>
							<td><%=link_to attende.student&.last_name, edit_teachers_attendee_path(attende.id) %></td>
							<td><%= attende.student.course&.name %></td>
							
							<td><%= attende.student.attendees.count %></td>
							<td><%= attende.attendance_status %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
