
<div class="container">
	<div class="row">
		<h1>生徒編集画面</h1>

			<%= form_for @student, url:teachers_student_path(@student), method: :patch do |f| %>
					<table class="">
						<tr>
							<th>姓</th>
							<td><%= @student.last_name %></td>
						</tr>
						<tr>
							<th>名</th>
							<td><%= @student.first_name %></td>
						</tr>
						<tr>
							<th>セイ</th>
							<td><%= @student.sub_last_name %></td>
						</tr>
						<tr>
							<th>メイ</th>
							<td><%= @student.sub_first_name %></td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><%= @student.email %></td>
						</tr>
						<tr>
							<th>コース</th>
							<td><%= f.collection_select :course_id, Course.all, :id, :name, :include_blank => "選択して下さい" %></td>
						</tr>
						<!-- <tr> -->
						<!-- <tr> -->
							<!-- <th>登録ステータス</th> -->
							<!-- <td><%#= f.radio_button :attendance_status, :有効 %></td> -->
						<!-- </tr> -->
						<!-- <tr> -->
							<th>担当</th>
							<td> <%= f.collection_select :teacher_id, Teacher.all, :id, :last_name, :include_blank => "選択して下さい" %></td>
						</tr>
					</table>
					<%= f.submit '変更を保存する', class: "btn btn-primary" %>
			<% end %>
	</div>
</div>