<div class="container">
	<div class="row">
		<h3>出席履歴一覧</h3>
		<%= link_to "戻る", student_path(current_student), class: "btn btn-primary" %>
		<table class="table table-striped">
			<thead>
				<th>出席日</th>
				<th>クラス名</th>
				<th>ジャンル</th>
				<th>時間帯</th>
				<th>担当</th>
			</thead>
			<tbody>
				<% @attendees.each do |attende| %>
					<tr>
						<td><%= attende&.attendance_date %></td>
						<td><%= attende.lesson.area_class&.name %></td>
						<td><%= attende.lesson.genre&.name %></td>
						<td><%= attende.lesson.time_class&.time_zone %></td>
						<td><%= attende.lesson.teacher&.last_name %></td>
						<!-- <td><%#= attende.student.course&.name %></td> -->
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
