<div class="container">
	<div class="row">
		<div class="col-xs-5">
			<h3>出席完了しました</h3>
			<p class="text-danger">※コース回数を超えた場合は1レッスン単価代をお支払いください</p>
			<table class="table">
				<tr>
					<th>出席日</th>
					<td><%= @attendee&.attendance_date %></td>
				</tr>
				<tr>
					<th>出席者名</th>
					<td><%= @attendee.student.last_name %><%= @attendee.student.first_name %></td>
				</tr>
				<tr>
					<th>クラス名</th>
					<td><%= @attendee.lesson.area_class&.name %></td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td><%= @attendee.lesson.genre&.name %></td>
				</tr>
				<tr>
					<th>時間帯</th>
					<td><%= @attendee.lesson.time_class&.time_zone %></td>
				</tr>
				<tr>
					<th>担当</th>
					<td><%= @attendee.lesson.teacher&.last_name %></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-6">
			<h4>料金表</h4>
			<table class="table table-striped">
				<thead>
					<th>コース</th>
					<th>料金</th>
					<th>1レッスン単価</th>
				</thead>
				<tbody>
					<tr>
						<td>単発</td>
						<td>2000円<br>(高校生以下1,500円)</td>
						<td></td>
					</tr>
					<tr>
						<td>月2回コース</td>
						<td>4,000円</td>
						<td>(2,000円)</td>
					</tr>
						<td>月4回コース</td>
						<td>6,800円</td>
						<td>(1,700円)</td>
					<tr>
						<td>月6回コース</td>
						<td>9,800円</td>
						<td>(1,600円)</td>
					</tr>
					<tr>
						<td>通い放題</td>
						<td>12,000円</td>
						<td></td>
					</tr>
					<tr>
						<td>子ども月4回コース</td>
						<td>4,000円</td>
						<td>(1,000円)</td>
					</tr>
					<tr>
						<td>子ども通い放題</td>
						<td>7,000円</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

