<div class="container">
	<div class="row">
		<h1>クラス一覧・追加</h1>
			<%= form_for [:teachers,@area_class] do |f| %>
				<%= f.label :クラス %>
				<%= f.text_field :name %>
				<%= f.submit '追加', class: "btn btn-primary"%>
			<% end %>
		<table class="table table-striped">
			<thead>
				<th>クラス</th>
			</thead>
			<tbody>
				<% @area_classes.each do |aclass| %>
					<tr>
						<td><%= aclass.name %></td>
						<td><%= link_to "編集", edit_teachers_area_class_path(aclass.id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

