<div class="container">
	<div class="row">
		<h3>コース編集</h3>
			<%= form_for [:teachers,@course] do |f| %>
				<% if @course.errors.any? %>
					<h4 class="message-error"><%= @course.errors.count %> 件のエラーのため内容は保存できません。</h4>
						<ul>
							<% @course.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
				<%= f.label :コース %>
				<%= f.text_field :name %>
				<%= f.submit '変更を保存する', class: "btn btn-primary"%>
				<%= link_to "戻る", teachers_courses_path, class: "btn btn-primary" %>
			<% end %>
	</div>
</div>