<div class="container">
	<div class="row">
		<h1>コース編集</h1>
			<%= form_for [:teachers,@course] do |f| %>
				<% if @course.errors.any? %>
					<h3 class="message-error"><%= @course.errors.count %> errors prohibited this コース from being saved:</h3>
						<ul>
							<% @course.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
				<%= f.label :コース %>
				<%= f.text_field :name %>
				<%= f.submit '変更を保存する', class: "btn btn-primary"%>
			<% end %>
	</div>
</div>