<div class="container">
	<div class="row">
		<h1>コース一覧・追加</h1>
			<%= form_for [:teachers,@course] do |f| %>
				<% if @course.errors.any? %>
					<h3 class="message-error"><%= @course.errors.count %> errors prohibited this コース from being saved:</h3>
						<ul>
							<% @course.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				<% end %>
				<%= f.label :コース %>
				<%= f.text_field :name %>
				<%= f.submit '追加', class: "btn btn-primary"%>
			<% end %>
		<table class="table table-striped">
			<thead>
				<th>コース</th>
			</thead>
			<tbody>
				<% @courses.each do |course| %>
					<tr>
						<td><%= course.name %></td>
						<td><%= link_to "編集", edit_teachers_course_path(course.id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>