<!DOCTYPE html>
<html>
  <head>
    <title>Attendance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if teacher_signed_in? %>
      <header class="teacher_header">
        <div class="header-content">
          <div class="container">
            <div class="row">
              <div class="col-xs-4">
                <%= image_tag 'capo.png', :size => '200x70' %>
                <h4 class="">出席登録サイト</h4>
              </div>
               <div class="col-xs-4">
                <p class="text-center">ようこそ<%= current_teacher.last_name %>先生</p>
               </div>
              <div id="sp-menu">
                <ul class="nav nav-tabs">
                  <li><%= link_to "出席者一覧", teachers_attendees_path %></li>
                  <li><%= link_to "レッスン一覧", teachers_lessons_path %></li>
                  <li><%= link_to "休講一覧",teachers_no_lessons_path %></li>
                  <li><%= link_to "クラス一覧", teachers_area_classes_path %></li>
                  <li><%= link_to "ジャンル一覧", teachers_genres_path %></li>
                  <li><%= link_to "コース一覧", teachers_courses_path %></li>
                  <li><%= link_to "時間帯一覧", teachers_time_classes_path %></li>
                  <li><%= link_to "生徒一覧", teachers_students_path %></li>
                  <li><%= link_to "ログアウト",destroy_teacher_session_path, method: :delete  %></li>
                </ul>
              </div>
              <div id="hm-icon">
                <a class="menu-trigger">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
    <% elsif student_signed_in? %>
      <header class="student_header">
        <div class="header-content">
           <div class="container">
            <div class="row">
              <div class="col-xs-4">
                <%= image_tag 'capo.png', :size => '200x70' %>
                <h4 class="">出席登録サイト</h4>
              </div>
                <div class="col-xs-4">
                  <p class="text-center">ようこそ<%= current_student.last_name %>さん</p>
                  <p class="text-center">現在の選択コース:<%= current_student.course.name %></p>
                    <p class="text-center">出席数:<%= current_student.attendees.where(attendance_status:'承認').count %></p>
                </div>
                <div id="sp-menu">
                  <ul class="">
                    <li><%= link_to "レッスン一覧",students_lessons_path %></li>
                    <li><%= link_to "マイページ",student_path(current_student) %></li>
                    <li><%= link_to "ログアウト",destroy_student_session_path, method: :delete %></li>
                  </ul>
                </div>
                <div id="hm-icon">
                  <a class="menu-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </header>
    <% else %>
      <header class="top_header">
        <div class="header-content">
          <div class="container">
            <div class="row">
              <div class="col-xs-4">
                <%= image_tag 'capo.png', :size => '200x70' %>
                <h4 class="">出席登録サイト</h4>
              </div>
              <div class="col-xs-4">
              </div>

              <div id="sp-menu">
                <ul class="">
                  <li><%= link_to "ログイン（生徒用）", new_student_session_path %></li>
                  <li><%= link_to "新規登録（生徒用）", new_student_registration_path %></li>
                  <li><%= link_to "ログイン（先生用）", new_teacher_session_path %></li>
                  <li><%= link_to "新規登録（先生用）", new_teacher_registration_path %></li>
                </ul>
              </div>
              <div id="hm-icon">
                <a class="menu-trigger">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
