<!DOCTYPE html>
<html>
  <head>
    <title>Attendance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if teacher_signed_in? %>
      <header class="teacher_header">
        <div class="header-content">
          <h3 class="text-white">Attendance</h3>
            <p class="text-center">ようこそ<%= current_teacher.last_name %>先生</p>
              <ul class="nav nav-tabs navbar-right">
                <%= link_to "出席者一覧", teachers_attendees_path %>
                <%= link_to "レッスン一覧", teachers_lessons_path %>
                <%= link_to "クラス一覧", teachers_area_classes_path %>
                <%= link_to "ジャンル一覧", teachers_genres_path %>
                <%= link_to "コース一覧", teachers_courses_path %>
                <%= link_to "時間帯一覧", teachers_time_classes_path %>
                <%= link_to "生徒一覧", teachers_students_path %>
                <%= link_to "logout",destroy_teacher_session_path, method: :delete, class: 'glyphicon glyphicon-log-out' %>
              </ul>
        </div>
      </header>
    <% elsif student_signed_in? %>
      <header class="teacher_header">
        <div class="header-content">
            <h3 class="text-white">Attendance</h3>
              <p class="text-center">ようこそ<%= current_student.last_name %>さん</p>
              <p class="text-center">現在の選択コース:<%= current_student.course.name %></p>
              <p class="text-center">出席数:<%= current_student.attendees.all.count %></p>
                <ul class="nav nav-tabs navbar-right">
                  <%= link_to "レッスン一覧",students_lessons_path, class: "" %>
                  <%= link_to "マイページ",student_path(current_student), class: "" %>
                  <%= link_to "ログアウト（生徒用）",destroy_student_session_path, method: :delete, class: 'glyphicon glyphicon-log-out' %>
                </ul>
        </div>
      </header>
    <% else %>
      <header class="teacher_header">
        <div class="header-content">
          <h3 class="text-white">Attendance</h3>
            <ul class="nav nav-tabs navbar-right">
              <%= link_to "ログイン（生徒用）", new_student_session_path, class: "glyphicon glyphicon-log-in" %>
              <%= link_to "新規登録（生徒用）", new_student_registration_path, class: "glyphicon glyphicon-edit" %>
              <%= link_to "ログイン（先生用）", new_teacher_session_path, class: "glyphicon glyphicon-log-in"%>
              <%= link_to "新規登録（先生用）", new_teacher_registration_path, class: "glyphicon glyphicon-edit"%>
            </ul>
        </div>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
